body {
  background-color: #f5c18f;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "DungGeunMo", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

.fixed-button {
  position: fixed;
  bottom: 20px; /* 화면 하단에서 20px 위로 */
  left: 20px; /* 화면 오른쪽에서 20px 왼쪽으로 */
  padding: 10px 20px;
  background-color: #ffe5cc;
  color: #2f1f00;
  border: none;
  border-radius: 0%;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.fixed-button:hover {
  background-color: #e78860;
}
